*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
	font-family: Arial, Helvetica, sans-serif;
}
body{
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	max-width: 100%;
    margin: 0px;
    padding: 0;
	font-size: 22px;
	font-family: monospace; 
	font-style: normal;
	background: #656565;
    box-shadow: 0px 12px 10px 10px rgba(10, 14, 12, 0.5);
}
.Home0{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
    padding: 0;
	background: #101412;
}
.acceuil{
	width: 100%;
	height: 100%;
	background: #000000 url(ressources/acceuil.jpg) center /cover no-repeat;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 50px;
	padding-top:20%;
	padding-left: 40%;
}
.btn1{
    position: absolute;
    width: 10%;
    margin-left: 40%;
    text-align: center;
    background: transparent;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border: 2px solid#333;
    color: #333;
    transition: all 0.2s ease-in-out;
}
.btn2{
    position: absolute;
    width: 10%;
    margin-left: 52.5%;
    text-align: center;
    background: transparent;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border: 2px solid#333;
    color: #333;
    transition: all 0.2s ease-in-out;
}
.btn3{
    position: absolute;
    width: 10%;
    margin-left: 65%;
    text-align: center;
    background: transparent;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border: 2px solid#333;
    color: #333;
    transition: all 0.2s ease-in-out;
}
.btn1:hover{
    background: #333;
    color: #f1f1f1;
}
.btn2:hover{
    background: #333;
    color: #f1f1f1;
}
.btn3:hover{
    background: #333;
    color: #f1f1f1;
}

.wipe-transition {
    width: 100vw;
    height: 100vh;
    background:linear-gradient(90deg, rgb(165, 165, 223),midnightblue) ;
    position: absolute;
    left: -95%;
}