body {
	background: black;
	box-sizing: border-box;
	font-family: monospace; 
	font-size: 22px;
	font-style: normal;
	height: 100%;
	margin: 0;
	max-width: 100%;
	overflow-x: hidden;
    padding: 0;
	width: auto;
}

@keyframes clignote {  
	50% { opacity: 0; }
}

svg,
#dark-mode {
	display: none;
}

header::before,
header::after {
	content: attr(data-content);
	position: absolute;
}

header::before {
	animation:
		header_glitch 3s step-end infinite,
		header_clip-before 10.3s linear forwards infinite;
	left: calc(calc(var(--header_font-size) / 14) * -1);
}

header::after {
	animation:
		header_glitch 2.7s step-end infinite,
		header_clip-after 7.7s linear forwards infinite;
	clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
	left: calc(var(--header_font-size) / 14);
	width: fit-content;
}

header {
	align-self: flex-end;
	animation:
		header_chromatic-aberration 5.1s step-end infinite,
		screen-glitch 8.3s step-end infinite;
	font-size: var(--header_font-size);
	position: relative;
	z-index: 1;
}

.header {
	background: #101412;
	box-shadow: 0px 12px 10px 10px rgba(10, 14, 12, 0.5);
	color: white;
	margin-top: -5px;
	padding: 10px 10px;
	z-index:20;
}

td {
	align-items:center;
	padding-left:10px;
	padding-right:10px
}


@keyframes screen-glitch {
	0% {
		filter: none;
	}
	97% {
		filter: url(#screen-glitch);
	}
}

@keyframes container_film-grain {
	0%  {
		background-image: url(https://www.dropbox.com/s/7c0079mscbpj9yr/noise01.png?dl=1);
	}
	10% {
		background-image: url(https://www.dropbox.com/s/xrhn9bfmz5d10qe/noise02.png?dl=1);
	}
	20% {
		background-image: url(https://www.dropbox.com/s/my05jzarddvrkvs/noise03.png?dl=1);
	}
	30% {
		background-image: url(https://www.dropbox.com/s/4df5nkssyg19fhj/noise04.png?dl=1);
	}
	40% {
		background-image: url(https://www.dropbox.com/s/hygspg34sp2favc/noise05.png?dl=1);
	}
	50% {
		background-image: url(https://www.dropbox.com/s/5fd1sjyw8hcn8ac/noise06.png?dl=1);
	}
	60% {
		background-image: url(https://www.dropbox.com/s/09tprl6ho8809zo/noise07.png?dl=1);
	}
	70% {
		background-image: url(https://www.dropbox.com/s/tsm4az80i4q47r2/noise08.png?dl=1);
	}
	80% {
		background-image: url(https://www.dropbox.com/s/ol1eg4nlnzpz7z7/noise09.png?dl=1);
	}
	90% {
		background-image: url(https://www.dropbox.com/s/hvjoyoyvp2j9ndp/noise10.png?dl=1);
	}
}

@keyframes header_clip-before {
	from {
		clip-path: polygon(0 0, 100% 0, 100% 10%, 0 10%);
	}
	to {
		clip-path: polygon(0 0, 100% 0, 100% 90%, 0 90%);
	}
}

@keyframes header_clip-after {
	from {
		clip-path: polygon(0 10%, 100% 10%, 100% 100%, 0% 100%);
	}
	to {
		clip-path: polygon(0 90%, 100% 90%, 100% 100%, 0% 100%);
	}
}

@keyframes header_glitch {
	0% {
		opacity: 0;
	}
	97% {
		opacity: 1;
	}
}

@keyframes header_chromatic-aberration {
	0% {
		text-shadow: none;
	}
	97% {
		text-shadow:
			calc(var(--header_font-size) / 20) 0 rgb(255, 0, 0),
			calc(calc(var(--header_font-size) / 20) * -1)  0 rgb(0, 0, 255);
	}
}

@keyframes random-letters_cycle {
	0% {
		transform: translateY(calc(var(--random-letter_font-size) * 0));
	}
	10% {
		transform: translateY(calc(var(--random-letter_font-size) * -1));
	}
	20% {
		transform: translateY(calc(var(--random-letter_font-size) * -2));
	}
	30% {
		transform: translateY(calc(var(--random-letter_font-size) * -3));
	}
	40% {
		transform: translateY(calc(var(--random-letter_font-size) * -4));
	}
	50% {
		transform: translateY(calc(var(--random-letter_font-size) * -5));
	}
	60% {
		transform: translateY(calc(var(--random-letter_font-size) * -6));
	}
	70% {
		transform: translateY(calc(var(--random-letter_font-size) * -7));
	}    
	80% {
		transform: translateY(calc(var(--random-letter_font-size) * -8));
	}
	90% {
		transform: translateY(calc(var(--random-letter_font-size) * -9));
	}
}

@keyframes cursor_blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

@keyframes loading-bar_progress {
	0% {
		width: 0;
	}
	20% {
		width: calc(6% - calc(var(--loading-bar_border) * 2));
	}
	25% {
		width: calc(6% - calc(var(--loading-bar_border) * 2));
	}
	40% {
		width: calc(10% - calc(var(--loading-bar_border) * 2));
	}
	50% {
		width: calc(10% - calc(var(--loading-bar_border) * 2));
	}
	70% {
		width: calc(40% - calc(var(--loading-bar_border) * 2));
	}
	80% {
		width: calc(40% - calc(var(--loading-bar_border) * 2));
	}
	90% {
		width: calc(60% - calc(var(--loading-bar_border) * 2));
	}
	95% {
		width: calc(80% - calc(var(--loading-bar_border) * 2));
	}
	97% {
		width: calc(80% - calc(var(--loading-bar_border) * 2));
	}
	100% {
		width: calc(100% - calc(var(--loading-bar_border) * 2));
	}
}



#principaltitle{	
	color: white;
	font-size: 75px;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top:75px;
	position: absolute;
	right: 0;
	text-align: center;
	z-index:3;
}
.tablebandeau{
	left: 0;
	margin-left: auto;
	margin-right: auto;
	position : relative;
	right: 0;
	text-align: center;
}

.Home0{
	background: #101412;
	height: 1200px;
	margin: 0;
    padding: 0;
	position: relative;
	width: 100%;
}

.Home1{
	background: white;
	height: 520px;
	left: 0;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
    padding: 0;
	position: relative;
	right: 0;
	text-align:center;
	width: 100%;
	z-index:5;
}

.Home2{
	background: #101412;
	height: 2350px;
	margin: 0;
    padding: 0;
	position: relative;
	width: 100%;
}

.Home3{
	background: #101412;
	height: 3200px;
	margin: 0;
    padding: 0;
	position: relative;
	width: 100%;

}

[class*='reveal-'] {
	opacity : 0;
	transform: translateY(30px);
}

.reveal-visible {
	opacity:1;
	transform: translateY(0);
	transition: 1s cubic-bezier(.5,0,0,1);
}
.reveal-2{
	transition-delay:0.1s
}

.reveal-3{
	transition-delay:0.2s
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}
.link-white{
	color:rgb(245,245,245);
}

.link{
	text-decoration:none;
	transition-duration: 1s;
	transition-property:color ;
}
.link:hover{
	color:#0F0 ;
}

.tableaucenter{
	left: 0;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	right: 0;
	width:90%;

}

.clignote{
	animation: clignote 2s ease infinite;
	color:white;
}

.console{
	background-color:#040404;
	border:2px solid white;
	border-radius: 7px;
	font-size: 22px;
	left:13%;
	position: absolute;
	right:50%;
	z-index:4;
}
	
.console_par_dessus{
	background-color:rgba(04,04,04,0.90);
	right:12%;
	z-index:5;
}

.console2{
	background-color:#040404;
	border:2px solid white;
	border-radius: 7px;
	font-size: 22px;
	left:43%;
	position: absolute;
	right:17%;
	z-index:4;
}

.console_clignote_2{
	color:white;
	margin-left:10px;
	z-index:4;
}

.console_2_transparent{
	background-color:rgba(04,04,04,.90);
	left:47%;
	right:13%;
	top:23%;
	z-index:5;
}

.console3{
	background-color:#040404;
	border:2px solid white;
	border-radius: 7px;
	font-size: 22px;
	left:13%;
	position: absolute;
	right:51%;
	top:5%;
	z-index:4;
}

.bleu{
	color:#228DCC
}
.root_kali{
	color:red;
}

.blanc{
	color:white;
}

:root {
	--header_font-size: 140px;
	--random-letter_font-size: 48px;
	--loading-bar_width: 600px;
	--loading-bar_height: 28px;
	--loading-bar_border: 3px
}

.container {
	--color_primary: rgb(245, 245, 245);
	--color_secondary: rgb(010, 010, 010);
	--color_3: rgb(010, 255, 010);
	background: var(--color_primary);
	color: var(--color_secondary);
	display: grid;
	font-family: Hack, monospace;
	grid-template-rows: 50% auto 1fr 1fr;
	height: 450px;
	overflow: hidden;
	place-items: center;
	position: relative;
	transition-duration: var(--dark-mode_transition-time);
	width: 100%;
}

.container::before {
	animation: container_film-grain 1s step-end infinite;
	content: "";
	height: 100%;
	opacity: .75;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

.lime_color{
	color:lime;
}

.green_color{
	color:#007A05;
}

.gestion_page_console{
	color:white;
	position: absolute;
	right:2%
}

.console_3_transparent{
	background-color:rgba(04,04,04,.90);
	left:13%;
	margin-right:-2%;
	top:59%;
	z-index:2;
}

.texte_console{
	color:white;
	margin-left:10px;
}

.article_avec_ascii{
	left: 0;
	margin-left: auto;
	margin-right: auto;
	right: 0;
	text-align: center;
}

.asciiart2{
	color:white;
	font-size: 22px;
	left:1%;
	position: absolute;
	right:60%;
	top:50px;
	z-index:4;
}	

.asciiart3{
	color:white;
	font-size: 22px;
	left:52%;
	position: absolute;
	top:5%;
	z-index:4;
}

.ascii_art_vague{
	left:2%;
	right:60%;
	top:33%;
}

.asciiart{
	color:white;
	font-size: 22px;
	left:52%;
	position: absolute;
	right:20%;
	top:100px;
	z-index:4;
}	

.ascii_art_money{
	right:1%;
	top:59%;
	z-index:1;
}

.source_lien{
	color:lime;
	font-size:15px;
}

.image_1{
	height:auto;
	max-width:17%;
}

.image_2{
	height:auto;
	max-width:47%;
}

.image_3{
	height:auto;
	max-width:20%;
}

.image_4{
	height:auto;
	max-width:34%;
}

.random-letters {
	align-self: flex-start;
	animation: screen-glitch 8.3s step-end infinite;
	color: var(--color_secondary);
	display: flex;
	font-size: var(--random-letter_font-size);
	height: var(--random-letter_font-size);
	line-height: var(--random-letter_font-size);
	margin: 15px 0 30px 0;
	overflow: hidden;
	transition-duration: var(--dark-mode_transition-time);
	z-index: 1;
}

.random-letters_letter {
	animation: random-letters_cycle 1.1s step-end infinite;
}

.cursor {
	animation: cursor_blink 1s step-end infinite;
}

.loading-bar {
	align-self: flex-start;
	animation: screen-glitch 8.3s step-end infinite;
	border: var(--loading-bar_border) solid var(--color_secondary);
	border-radius: 2px;
	height: var(--loading-bar_height);
	position: relative;
	transition-duration: var(--dark-mode_transition-time);
	width: var(--loading-bar_width);
	z-index: 1;
}

.loading-bar::before {
	animation: loading-bar_progress 13.3s linear forwards infinite;
	background: var(--color_3);
	content: "";
	height: calc(100% - calc(var(--loading-bar_border) * 2));
	margin: var(--loading-bar_border);
	position: absolute;
	top: 0;
	transition-duration: var(--dark-mode_transition-time);
}


@media screen and (max-width: 1200px) {
    .asciiart {
        display: none ;
    }
	.asciiart2 {
        display: none ;
    }
	.asciiart3 {
        display: none ;
    }
	.console{
		font-size: 12px ;
		left:5% ;
		right:5%  ;
	}
	.console1{
		left:5% ;
		right:5%  ;
	}
	.console2{
		font-size: 12px ;
		left:5% ;
		right:5%  ;
	}
	.console3{
		font-size: 12px ;
		left:5% ;
		right:5%  ;
	}
	.Home0{	
		height: 600px ;
	}
	.Home1{
		font-size: 12px ;
	}
	.Home2{		
		height: 1050px ;

	}
	.Home3{		
		height: 1550px ;

	}
	h1{ 
		margin-top: 7% ;
	}
	.container{
		display: none ;
	}
	.container::before{
		display: none ;
	}
}
